<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/assets/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/angular/angular.min.js" charset="utf-8"></script>
<script src="/themes/website/mycharts/controller/assemblyprogress.js"></script>
<style type="text/css">
	.cjbj{
		padding-top: 50px;
	}
	.left{
		float: left;
		font-size: 20px;
	}
	.right{
		float: right;
		font-size: 20px;
	}
</style>
</head>
<body style="background:url(/themes/website/images/other/stonebrg01.jpg)">
	<div ng-app="myApp" ng-controller="myCtrl">
		<div class="cjbj">
			<img src="src:/themes/website/images/other/stoneback01.jpg"/>
		</div>
		<div class="tips">
			<span class="left"><a ng-click="toIndex()">机械作业加工区</a></span>
			<span class="right"><a ng-click="list()">装配作业区</a></span>
		</div>
	</div>
</body>
</html>