@CHARSET "UTF-8";
		body{
			background-color:#00003b;
			/* height:1080px; */
		}
		.container-fluid1{
			background-color: #00003b;
			width:100%;
			padding: 0 10px;
			/* height:1070px; */
		}
		.page-header{
			background-color:white;
		}
		.panel-title{
			color: #658ced;
			width:24%;
		}
		.table>thead>tr>th {
		    vertical-align: bottom;
		    border-bottom: 1px solid #005387;
		}
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		    color: wheat;
		}
		.header{width:100%;height:100px;padding-bottom:20px;border-bottom:solid 2px #005387;}
		.logo{width:50%;height:78px;float:left;padding:20px 0 0 0;}
		.cjbj{ 
			border-radius:5px;
			width:100%;
			background-color:wheat;
			height:281px;
			border:solid 1px #005387;
			background-color:#0b1647;
			border-radius:5px;
		}
		.cjbj-div,.sbyxfx-div,.timeline-div,.ranking-head,.yxcs-div,.xlzx-div{
		height: 35px;
	    border-bottom: solid 1px #005387;
	    line-height: 35px;
	    padding:0 10px;
	    color: #fff;
	    }
		.cjbjimg{
			height:246px;
			overflow:hidden;
			padding: 20px 0;
		}
		.sbyxfx{
			overflow:hidden;
			border-radius:5px;
			width:100%;
			/* height:194px; */
			border:solid 1px #005387;
			background-color:#0b1647;
			margin-top:20px;
		}
		
		.sbyxfx-title,.timeline-title,.yxcs-head,.xlzxhead{
			float:left;
			width:50%;
					}
		.sbyxfx-lenged,.timeline-lenged,.yxcs-lenged,.xlzx-lenged{
			float:right;
			width:50%;
			text-align:right;
		}
		.sbyxfx-chart{
			width:100%;
			height:200px;
			overflow:hidden;
		}
		.pies{
	 		width:100%;
	 		height:100%;
	 		list-style:none;
			margin:0;
			padding:0;
	 	}
		.sbyxfx-chart .pies li{
			width:33%;
 			height:100%;
 			float:left;
 			color:#658ced;
		}
		.timeline{
			width:100%;
			height:424px;
			border:solid 1px #005387;
			background-color:#0b1647;
			border-radius:5px;
			margin-top:20px;
		}
		.ranking,.xlzx,.yxcs{
			width:100%;
			height:391px;
			border:solid 1px #005387;
			background-color:#0b1647;
			border-radius:5px;
		}
		
		.yxcs{
			height:230px;
			overflow:hidden;
			margin-top:20px;
		}
		.table{
			width:97%;
			max-width:100%;
			margin:10px;
			margin-top: 9px;
		}
		.xlzx{
			height:321px;
			margin-top:20px;
		}
		
		.clock {
		    font-family: 'Share Tech Mono', monospace;
		    color: #ffffff;
		    text-align:right;
		    width:50%;
		    height:100px;
		    padding-right: 10px;
		    float:right;
		    color: #daf6ff;
		    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
		}
		.date {
		    letter-spacing: 0.1em;
		    font-size: 24px;
		    margin:0;
		}
		.time {
			letter-spacing: 0.05em;
			font-size: 40px;
			padding:0;
			margin:0;
		}
		.clock .text {
		    letter-spacing: 0.1em;
		    font-size: 12px;
		    padding: 20px 0 0;
		}
		
	.clock 	p {
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		margin:0px;
	}
.box-cont{
	width:100%;
	height:auto;
	clear:both;
}
.box,.box2{
	margin-top:20px;
	width:49.5%;
	float:left;
	margin-right:0.5%;
}
.box2{
	margin-left:0.5%;
	margin-right:0;
}